In [34]:
from pathlib import Path

import pandas as pd
import numpy as np

In [43]:
try:
    import common
    DATA = common.dataDirectory()
except ImportError:
    DATA = Path().resolve() / 'data'

In [44]:
for entry in DATA.iterdir():
    if entry.is_file():
        print(entry.name)

hw6_fd_q2.csv
hw6_fd_q5.csv
hw6_init_matrix.csv
hw6_inv_matrix.csv
hw6_tech_matrix.csv
interv_mat.csv

In [58]:
techMat_csv = DATA / 'hw6_tech_matrix.csv'
fdQ2_csv = DATA / 'hw6_fd_q2.csv'
fdQ5_csv = DATA / 'hw6_fd_q5.csv'
intervMat_csv= DATA / 'interv_mat.csv'

In [59]:
techMat = pd.read_csv(techMat_csv)
fdQ2 = pd.read_csv(fdQ2_csv)
fdQ5= pd.read_csv(fdQ5_csv)
intervMat = pd.read_csv(intervMat_csv)

In [60]:
intervMat.head(3)

,Intervension Matrix,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,CH4,kg,4.675000e-07,0.000004,0,0,0,0,9.048900e-07,0.0053,...,0,0.000009,0.000001,0.00140,0.003400,0.00399,0.004567,0.00014,0.0,0.000115
1,CO2,kg,1.109000e-02,0.000028,0,0,0,0,1.895000e-02,0.0011,...,0,0.804600,0.079879,0.03906,0.016999,0.00000,0.000139,1.96190,29.4,2.633900
2,N2O,kg,5.296000e-08,0.000000,0,0,0,0,4.746000e-07,0.0000,...,0,0.000004,0.000002,0.00000,0.000000,0.00000,0.000000,0.00000,0.0,0.000368

In [39]:
#np.argwhere(np.isnan(techMat_del))

In [64]:
techMat = pd.DataFrame(techMat).fillna(0)
techMat = techMat.apply(pd.to_numeric, errors='coerce').dropna(axis='columns').to_numpy(dtype=float,na_value=0)
techMat_inv = np.linalg.inv(techMat)

AttributeError: 'numpy.ndarray' object has no attribute 'tail'

In [41]:
fdQ2 = pd.DataFrame(fdQ2).fillna(0)
fdQ2 = fdQ2.apply(pd.to_numeric, errors='coerce').dropna(axis='columns').to_numpy(dtype=float,na_value=0)

In [42]:
sQ2 = np.matmul(techMat_inv, fdQ2)
sQ2 # need to write to csv back

array([[1.00000000e+00],
       [1.72453308e-02],
       [1.34955038e-03],
       [1.40775942e-03],
       [9.42600000e-03],
       [1.50565803e-02],
       [2.68749589e-03],
       [1.99349691e-03],
       [5.94179002e-04],
       [2.25002107e-06],
       [9.41094199e-05],
       [5.50937555e-05],
       [2.97465256e-04],
       [1.05452547e-03],
       [1.90192915e-03],
       [1.71173428e-02],
       [0.00000000e+00],
       [2.68347555e-06],
       [0.00000000e+00],
       [4.58439501e-05],
       [0.00000000e+00],
       [0.00000000e+00],
       [0.00000000e+00],
       [0.00000000e+00],
       [2.87986192e-03],
       [2.71605418e-06],
       [1.52984941e-06],
       [2.44498718e-04],
       [7.39752858e-06],
       [9.58158171e-07],
       [1.45336184e-04],
       [1.17766278e-04],
       [2.09864024e-06],
       [1.40776942e-03],
       [1.39472312e-04],
       [1.03335036e-04],
       [1.08043846e-04],
       [1.65494931e-04],
       [2.00910847e-06],
       [3.57879943e-10],
       [2.30762752e-09],
       [5.23831448e-08]])

In [61]:
intervMat = pd.DataFrame(intervMat).fillna(0)
intervMat = intervMat.apply(pd.to_numeric, errors='coerce').dropna(axis='columns').to_numpy(dtype=float,na_value=0)

In [62]:
intervMat

array([[4.67500e-07, 4.04445e-06, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 9.04890e-07, 5.30000e-03, 0.00000e+00, 2.60300e-05,
        3.60200e-05, 1.27800e-04, 6.48600e-07, 6.43300e-07, 7.29500e-07,
        7.87400e-07, 6.87251e-07, 7.80019e-06, 1.66405e-06, 4.90028e-07,
        1.10178e-06, 9.51279e-07, 1.84894e-05, 8.36937e-07, 9.04640e-07,
        1.33600e-04, 9.20600e-04, 8.31200e-06, 4.85300e-06, 6.10490e-06,
        1.07400e-05, 0.00000e+00, 8.85700e-06, 1.28790e-06, 1.39990e-03,
        3.39990e-03, 3.99000e-03, 4.56700e-03, 1.39500e-04, 0.00000e+00,
        1.15400e-04],
       [1.10900e-02, 2.75027e-05, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.89500e-02, 1.10000e-03, 0.00000e+00, 1.72400e+00,
        1.96000e+00, 3.26190e+00, 2.81490e-02, 2.87100e-02, 1.44000e-02,
        1.59800e-02, 4.67338e-06, 5.30422e-05, 1.13157e-05, 3.33224e-06,
        7.49224e-06, 6.46880e-06, 1.25730e-04, 5.69126e-06, 6.15165e-06,
        2.70100e+00, 2.08500e+00, 9.94090e-01, 8.43200e-01, 2.72700e+03,
        5.84700e-01, 0.00000e+00, 8.04600e-01, 7.98790e-02, 3.90600e-02,
        1.69990e-02, 0.00000e+00, 1.38500e-04, 1.96190e+00, 2.94000e+01,
        2.63390e+00],
       [5.29600e-08, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 4.74600e-07, 0.00000e+00, 0.00000e+00, 1.17090e-04,
        3.60200e-05, 1.42090e-05, 0.00000e+00, 6.96590e-07, 0.00000e+00,
        3.89290e-07, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        6.78290e-05, 6.09700e-05, 2.42300e-05, 9.31200e-06, 1.32290e-05,
        1.07400e-05, 0.00000e+00, 3.50400e-06, 1.99300e-06, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        3.68000e-04]])

In [57]:
gQ2 = np.matmul(intervMat, sQ2)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 42 is different from 41)

In [55]:
intervMat.shape

(3, 41)